a {
	color:#1A5276;
	text-decoration: none;
}
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']{
	background-color: #1A5276;
  	border: 0.1rem solid #1A5276; 
}
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: #1A5276;
  outline: 0;
}
form{
	margin:0;
	padding:0;
}

label,
legend {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: .2rem;
  padding-left: 4px;
}

table{
	margin-bottom: 1.8rem;
}

ul.breadcrumb {
    padding:4px 15px 4px 0;
    list-style: none;
    
}
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}
ul.breadcrumb li+li:before {
    padding: 0 4px;
    color: #4d4d4d;
    content: "/\00a0";
}

.breadcrumb-wrap{
	display: flex;
	height:80px;
	align-items: center;
	padding-left:14px;
}

.login-wrap{
	max-width:100%;
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

.alert{
	background-color: #E6B0AA;
	padding: 12px;
	margin-bottom: 12px;
	font-size: 14px;
	color:#17202A;
}

.select-type{
	width:300px;
}

.nav-wrap{
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 2.0rem 2.0rem;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
}

.nav-title{
	font-size: 24px;
	letter-spacing: 4px;
	color: #1A5276;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	min-width:180px;
	background-color: white;
	flex-direction: column;
	position: absolute;
	right:0;
	z-index: 1;
	border:1px solid #bbb;
	border-radius: 4px;
}

.dropdown-content a{
	padding:10px 20px;
	color:#1A5276;
	font-size: 14px;
	display: block;
	border-bottom: 1px solid #bbb;
}

.dropdown-content a:last-child{
	border-bottom: none;
}

.dropdown-content a:hover{
	background-color: #E3E3E3;
}

@media (min-width: 768px) {
	.dropdown-content{
		min-width:180px;
	}

	.login-wrap{
	max-width:60%;
	}

	.drop-right{
	right:none;
	left:0;
}
}

.search-form{
	display: flex;
	
}

@media (min-width: 768px) {
	.search-form{
	margin-top: 0;
}
}

.search-field{
	-webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width:100%;
  margin:0 0 6px 0;
}

.search-button{
  background-color: #1A5276;
  border: 0.1rem solid #1A5276;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
  margin-left: 3px;
}

.search-button:focus, .search-button:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}

input:focus{
	border: 1px solid #1A5276;
  	outline: 0;
}

.card{
	display: block;
	background-color: #fff;
	min-width:100%;
	border: 1px solid #bbb;
	padding:0 12px;
	border-radius: 8px;
	box-shadow: 4px 4px 5px gray;
}

.card-header{
	display: flex;
	align-items: center;
	height: 60px;
	padding-left:14px;
}

.card-title{
	font-size: 20px;
}

.card-link a{
	display: block;
	font-size: 20px;
	line-height: 0;
	padding:12px 30px;
}

.card-label{
	border-top: 1px solid #bbb;
	font-size: 10px;
	position: relative;
}

.card-content{
	font-size: 14px;
	line-height: 1.4;
	position: relative;
	/*padding: 8px 30px 8px 0;*/
}

.card-rubrik{
	font-size: 12px;
	text-align: left;
	border-top: 1px solid #bbb;
	margin:0;
	
}

.card-footer{
	display: flex;
	align-items: center;
	height: 60px;
	border-top: 1px solid #bbb;
}

.card-button{
	display: block;
	width: 100%;
	text-align: center;
	padding:12px 0;
	border-left: 1px solid #bbb;
}

.card-button:first-child{
	border-left:0;
}

.card-text{
	position: relative;
	width: 100%;
	padding:4px 10px 10px 14px;
}

.card-padding{
	width: 100%;
	padding:4px 10px 10px 14px;
}


.card-plus{
	position: absolute;
	bottom:4px;
	right:6px;
}

.adress{
	cursor: pointer;
	padding-bottom:2px;
	padding-right: 4px;
}

.adress a{
	display: block;
	color:#606c76;
}

.adress:hover{
	background-color: #F2F2F2;
}

@media (min-width: 768px) {
	.card-title{
	font-size: 24px;
	}

}

.modal{
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

.modal-content{
    margin: 20px auto; /* 15% from the top and centered */
    width: 95%; /* Could be more or less, depending on screen size */
}

@media (min-width: 768px) {
	.modal-content{
    width: 60%; /* Could be more or less, depending on screen size */
}
}

.input-inline{
	display: flex;
	justify-content: space-between;
	width:100%;
	
}

.input-inline.responsive{
	flex-direction: column;
}

.input-inline-item{
	flex:1 1 auto;
	margin-left:1%;
}
.input-inline-item.responsive{
	margin-left:0;
}

.input-inline-item:first-child, .input-inline-item.responsive:first-child{
	margin-left:0;
}

@media (min-width: 768px) {
	.input-inline.responsive{
	flex-direction: row;
	}

	.input-inline-item.responsive{
	margin-left:1%;
	}
	
}

.card-item{
	flex:0 0 50%;
	min-width: 150px;
	
}

.card-module{
	display: flex;
	flex-direction: column;
	height: 200px;
	flex:1 0 100%;
	border:1px solid #bbb;
	border-radius: 4px;
	}

.card-row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 2px;
}

@media (min-width: 768px) {
	.card-item{
	flex:0 0 25%;
	}
	.test{
	margin-top: 0;
	}
}

.btn-round{
	font-size: 20px;
}

.table-small tr th{
	font-size: 13px;
	font-weight: 400;
	padding: .75rem 1.2rem;
}
.table-small tr td{
	font-size: 13px;
	font-weight: 300;
	letter-spacing: .1rem;
	padding: .75rem 1.2rem;
}